.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
}

.image-holder {
  grid-column: 1 / 2;
}

.banner {
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;
  max-height: 1fr;
}

header {
  max-height: 1fr;
  max-height: 400px;
}

#retirementForm {
  grid-column: 2 / 4;
  grid-row: 1 / 3
}

.personalInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 2
}

.results {
  grid-column: 2 / 4;
}

.datesInfo {
  grid-column: 3 / 4;
  grid-row: 1 / 2
}

.mainImage {
  grid-column: 1 / 2;
  grid-row: 2 / 3 ;
}