* {
  /* Overrides Browser default CSS rules */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 1rem;
  height: 100vh;
}

header {
  text-align: center;
  padding: 1rem;
}

main {
  border-top: 1px solid lightslategray;
}

section {
  box-shadow: 0 0.5em 0.5em lightgray;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

h2,
h3,
hr {
  margin-bottom: 0.7rem;
}

button {
  padding: 0.2em;
}

nav ul {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  display: -webkit-flex;
  list-style-type: none;
}

li {
  background-color: rgb(66, 120, 191);
  max-width: 100px;
  border-radius: 1rem;
  margin: 1em auto;
  padding: 0.6em;
  cursor: pointer;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

li:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.banner p {
  font-style: italic;
}

label {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

input {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  box-sizing: 0 1px 2px 0;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 1px 2px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  text-align: center;
}

input:focus {
  outline: none;
}

/* styling to place $ inside the input field: */
.dollar__format {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.dollar__sign {
  position: absolute;
  left: 0;
  padding-left: 0.25rem;
  display: flex;
  display: -webkit-flex;
}

.dollar__format input {
  padding-left: 1.75rem;
  text-align: center;
}

span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/* End dollar sign styling */

.info input,
.info select {
  /* margin top/horizonta/bottom: */
  margin: 0 auto 0.75rem;
}

#high3,
#retirementAge {
  margin: 0 auto;
}

#ssa {
  margin-top: 0.35rem;
}
.dates-info input {
  margin: 0 auto;
}

.form-control {
  position: relative;
}

.form-control small {
  visibility: hidden;
}

.form-control.error input {
  border-color: red;
}

.form-control.error small {
  color: red;
  visibility: visible;
}

#form__submit {
  margin: 2em auto;
  padding: 0.25em;
}

.sickLeaveHours {
  display: inline-flex;
  display: -webkit-inline-flex;
}

#sickLeave {
  margin-right: 0.2em;
}

.display__toggle {
  display: none;
}

.ras__info {
  margin: 1rem auto;
}

.results p {
  margin: 0.5rem auto;
}

@media screen and (min-width: 750px) {
  .row {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .first,
  .second {
    width: 45%;
  }

  .third {
    width: 100%;
  }

  li {
    white-space: nowrap;
    /* padding top/horizontal/bottom: */
    padding: 0.6em 1em 0.6em;
    max-width: none;
    margin-right: 1rem;
  }
  li a {
    font-size: 0.8em;
  }

  .results {
    margin: 0 auto;
    max-width: 75%;
    padding: 2em;
    border: 1px solid lightgray;
    border-radius: 1em;
    box-shadow: 1px 1px 2px 1px gray;
  }

  .results hr {
    display: none;
  }

  .results > div {
    padding: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  section {
    flex: 1;
  }

  li + li {
    margin-left: 2rem;
  }
}

/* Just Validate classes */
.is-valid {
  border: 1px solid green;
}

.is-invalid {
  border: 1px solid red;
}

.is-label-invalid {
  text-decoration: underline;
  transition: 0.4s;
}
