* {
  /* Overrides Browser default CSS rules */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 1rem;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  text-align: center;
  padding: 1rem;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

label {
  padding: 0.5em;
}

h5 {
  margin-bottom: 0.5em;
}

hr {
  margin: 0 auto;
  width: 30%;
}

.dollar__flex {
  display: flex;
  justify-content: center;
}

.flex__col label,
.flex__col input {
  display: block;
  margin: 0 auto;
}

.currency {
  margin-right: 0.3em;
}

.percent {
  margin-left: 0.3em;
}

#payPeriods {
  margin-left: 0.5em;
}

.form-control {
  position: relative;
}

.form-control small {
  visibility: hidden;
}

.form-control.error input {
  border-color: red;
}

.form-control.error small {
  color: red;
  visibility: visible;
}

.button__container {
  margin-top: 0.6em;
}

button {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
  transition-property: all;
  transition-duration: 1s;
}

button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  border-color: green;
}

button:active {
  transform: translate(1px, 2px);
  -webkit-transform: translate(1px, 2px);
  -moz-transform: translate(1px, 2px);
}

.market__info {
  display: block;
}

.marquee-container {
  padding: 0.5em;
}

.marquee-content {
  /* animation-name: marquee; */
  animation: marquee 20s linear infinite;
  -moz-animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  35% {
    font-size: 2em;
  }

  40% {
    font-size: 1em;
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
