* {
  /* Overrides Browser default CSS rules */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-size: 1rem;
  height: 100vh;
}

section {
  background-color: hsla(203, 92%, 75%, 0.7);
  border: 1px solid black;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  text-align: center;
  padding: 1rem;
}

.tsp__outer-container {
  margin-top: 2rem;
}

h2,
h3,
hr {
  margin-bottom: 0.7rem;
}

.nav-list {
  list-style-type: none;
}

.list-item {
  background-color: rgb(66, 120, 191);
  max-width: 100px;
  border-radius: 1rem;
  margin: 1em auto;
  padding: 0.6em;
}

.list-item a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
}

.list-item:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.banner-content p {
  font-style: italic;
}

.info input,
.info select {
  /* margin top/horizonta/bottom: */
  margin: 0 auto 0.75rem;
}

.col {
  width: 100%;
}

label,
input {
  display: flex;
  flex-direction: column;
}

.currency {
  display: inline-flex;
}

.sickLeaveHours {
  display: inline-flex;
}

#sickLeave {
  margin-right: 0.2em;
}

#high3 {
  margin-left: 0.2em;
}

.military-dates {
  display: none;
}

.ras__info {
  margin: 1rem auto;
}

.ras__text {
  font-weight: 600;
}

.results__info {
  margin: 0.5rem auto;
}

@media screen and (min-width: 700px) {
  .nav-list,
  .row {
    display: flex;
  }

  .list-item {
    white-space: nowrap;
    /* padding top/horizontal/bottom: */
    padding: 0.6em 2em 0.6em;
    max-width: none;
  }
  .list-item a {
    font-size: 0.8em;
  }

  .results {
    display: flex;
    justify-content: space-between;
  }

  .results hr {
    display: none;
  }

  .service-items {
    padding: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  .header__container {
    width: 100%;
    display: flex;
  }

  .banner {
    margin-left: auto;
  }

  .nav {
    margin-left: auto;
  }

  .list-item {
    margin-left: 2rem;
  }
}
