* {
  /* Overrides Browser default CSS rules */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

body {
  background-color: #fff;
  font-size: 1rem;
}

.container {
  margin: 1rem auto;
  width: 70%;
  max-width: 1000px;
  text-align: center;
}

.tsp__outer-container {
  margin-top: 2rem;
}

h2,
h3,
hr {
  margin-bottom: 0.7rem;
}

.nav-list {
  list-style-type: none;
  text-align: center;
}

.list-item {
  background-color: rgb(66, 120, 191);
  max-width: 100px;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

.list-item:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.list-item a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem;
}

.info input,
.info select {
  margin: 0.4rem auto;
}

.col {
  width: 100%;
}

label,
input {
  display: flex;
  flex-direction: column;
}

#ras-info p {
  margin-bottom: 0.5rem;
}

.results__info {
  margin: 0.5rem auto;
}
